<!DOCTYPE html>
<html lang="en" ng-app="musicOrganizer">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Music Organizer</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="../mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../mdbootstrap/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="../css/style.css" rel="stylesheet">
</head>

<body ng-controller="spotify">

  <!-- Start your project here-->
  <!--Navbar-->
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" ng-href="{{frontPageUrl}}">Music Organizer</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-5"
      aria-controls="navbarSupportedContent-5" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent-5">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Playlists
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item avatar dropdown show" ng-init="getUser()">
          <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5"
            data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
            <img class="rounded-circle z-depth-1" ng-cloak="{{userSpotifyAvatarImg}}" src="{{userSpotifyAvatarImg}}"
              style="width: 30px">
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-secondary hide"
            aria-labelledby="navbarDropdownMenuLink-5">
            <a class="dropdown-item waves-effect waves-light" ng-cloak="{{userSpotifyLink}}" href="{{userSpotifyLink}}"
              target="_blank">Open Spotify</a>
            <a class="dropdown-item waves-effect waves-light" ng-cloak="{{changeUserUrl}}"
              href="{{changeUserUrl}}">{{loginChangeUserLabel}}</a>
          </div>
        </li>
      </ul>
      <!-- Dropdown -->
    </div>
    <!-- Collapsible content -->
  </nav>
  <!--/.Navbar-->
  <!-- /Start your project here-->
  <!-- Playlists-->
  <div class='table-responsive'>
    <table id="dtUserPlaylists" class="table table-hover table-striped table-sm">
      <thead>
        <tr>
          <th>Cover</th>
          <th>Name</th>
          <th>Owner</th>
          <th>Id</th>
          <th>Collaborative</th>
          <th>Public</th>
          <th>Tracks</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="userplaylist in userPlaylists">
          <td><a ng-href="./Tracks.html?playlistId={{userplaylist.id}}"><img ng-src="{{userplaylist.images[0].url}}"
                style="width: 40px"></a></td>
          <td>{{userplaylist.name}}</td>
          <td>{{userplaylist.owner.display_name}}</td>
          <td>{{userplaylist.id}}</td>
          <td>{{userplaylist.collaborative}}</td>
          <td>{{userplaylist.public}}</td>
          <td>{{userplaylist.tracks.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /Playlists-->
  <!-- SCRIPTS -->
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.js"></script>
  <!-- JQuery -->
  <script type="text/javascript" src="../mdbootstrap/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../mdbootstrap/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../mdbootstrap/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../mdbootstrap/js/mdb.min.js"></script>
  <!-- Own logic -->
  <script src="../js/controllers/spotifyController.js"></script>
  <script src="../js/factories/spotifyFactory.js"></script>
</body>

</html>