<!DOCTYPE html>
<html lang="en" ng-app="musicOrganizer">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Music Organizer</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="../mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../mdbootstrap/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="../css/style.css" rel="stylesheet">
</head>

<body ng-controller="spotify">

  <!-- Start your project here-->
  <!--Navbar-->
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" ng-href="{{frontPageUrl}}">Music Organizer</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-5"
      aria-controls="navbarSupportedContent-5" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent-5">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="./Playlists.html">Playlists
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Tracks</a>
          <span class="sr-only">(current)</span>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item avatar dropdown show" ng-init="getUser()">
          <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5"
            data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
            <img class="rounded-circle z-depth-1" ng-cloak="{{userSpotifyAvatarImg}}" src="{{userSpotifyAvatarImg}}"
              style="width: 30px">
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-secondary hide"
            aria-labelledby="navbarDropdownMenuLink-5">
            <a class="dropdown-item waves-effect waves-light" ng-cloak="{{userSpotifyLink}}" href="{{userSpotifyLink}}"
              target="_blank">Open Spotify</a>
            <a class="dropdown-item waves-effect waves-light" ng-cloak="{{changeUserUrl}}"
              href="{{changeUserUrl}}">{{loginChangeUserLabel}}</a>
          </div>
        </li>
      </ul>
      <!-- Dropdown -->
    </div>
    <!-- Collapsible content -->
  </nav>
  <!--/.Navbar-->
  <!-- /Start your project here-->
  <!-- Playlists-->
  <div ng-controller="musixmatch">
    <div class="table-responsive" ng-init="getPlaylistTracks()">
      <table id="dtPlaylistTracks" class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th>Cover</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Length</th>
            <th>Added At</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="playlisttrack in playlistTracks">
            <td>
              <button ng-click="getTrackLyrics(playlisttrack.track.name,playlisttrack.track.artists[0].name)"
                type="button" class="btn btn-primary" data-toggle="modal" data-target="#lyricModal"
                style="padding:0; width:40px; height:40px">
                <img src="{{playlisttrack.track.album.images[0].url}}" style="margin:0; padding:0; width:40px">
              </button>
            </td>
            <td>{{playlisttrack.track.name}}</td>
            <td>{{playlisttrack.track.artists[0].name}}</td>
            <td>{{playlisttrack.track.album.name}}</td>
            <td>{{playlisttrack.track.duration_ms/60000}} m</td>
            <td>{{playlisttrack.added_at}}</td>
            <td><a ng-href="{{playlisttrack.track.external_urls.spotify}}" target="_blank">Open</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /Playlists-->
    <!-- Modal -->
    <div class="modal fade right" id="lyricModal" tabindex="-1" role="document" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-fluid side-modal modal-full-height" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{songName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{lyrics}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SCRIPTS -->
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.js"></script>
  <!-- JQuery -->
  <script type="text/javascript" src="../mdbootstrap/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../mdbootstrap/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../mdbootstrap/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../mdbootstrap/js/mdb.min.js"></script>
  <!-- Own logic -->
  <script src="../js/controllers/spotifyController.js"></script>
  <script src="../js/factories/spotifyFactory.js"></script>
  <script src="../js/controllers/musixmatchController.js"></script>
  <script src="../js/factories/musixmatchFactory.js"></script>
</body>

</html>