<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Music Organizer</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body ng-app="musicOrganizer" ng-controller='spotify'>

    <!--Start your project here-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="./assets/music_visual.png" class="img-fluid" alt="">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Welcome to Playlist Organizer</h4>
                        <!--Text-->
                        <p class="card-text" ng-cloak="{{musicService}}">This is a section where, you can log in to
                            your {{musicService}} account to be able to save your progress!</p>
                        <a href="{{loginUrl}}" class="btn btn-primary" ng-cloak="{{musicService}}">Log
                            in with {{musicService}}</a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
        </div>
    </div>
    <!--/Start your project here-->
    <!-- SCRIPTS -->
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="./mdbootstrap/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="./mdbootstrap/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="./mdbootstrap/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="./mdbootstrap/js/mdb.min.js"></script>
    <!-- Own logic -->
    <script src="./js/controllers/spotifyController.js"></script>
    <script src="./js/factories/spotifyFactory.js"></script>
</body>

</html>